role :app, %w{user@xxx.xxx.xxx.xxx}
role :db, %w{user@xxx.xxx.xxx.xxx}
role :whenever_worker, %w{user@xxx.xxx.xxx.xxx}

# User of the remote machine which runs the application
set :user, 'user'
set :rails_env, 'staging'

# Deployment directory on the remote machine
# This assumes ubuntu home directory structure
set :deploy_to, "/home/#{fetch(:user)}/#{fetch(:application)}"

set :tmp_dir, "/home/#{fetch(:user)}/tmp"

set :branch, 'dev'