<footer class="footer">
  <div class="container">
    <span class="text-muted">
      Powered By <%= link_to "NoLimitCoin Explorer", "https://github.com/NoLimitCoin/Nolimitcoin-Explorer2" %>
    </span>
  </div>
</footer>